.badge {
    background-color: hotpink;
    font-size: 23px !important;
    font-family: 'Patrick Hand SC', cursive;
    color: white;
    margin-bottom: 15px;
}

.badge-category {
    background-color: #545354 !important;
}

.updated-at {
    font-size: 12px;
    margin-top: 18px;
}

.bundle-name {
    font-size: 30px;
    font-family: 'Neucha', cursive;
}

.base-price {
    font-size: 32px;
    margin-top: 40px;
    font-family: 'Neucha', cursive;
}

.bundle-products {
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

.product-item {
    margin-bottom: 30px;
    min-height: 450px;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    font-weight: 800;
    font-size: 20px;
}