.header-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo-img {
    width: 100px;
    margin-top: -40px;
    margin-left: 20px;
}

.logo-text {
    font-family: 'Cabin Sketch', cursive;
    font-size: 100px;
    color: hotpink;
}